* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #F4F1DE;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #F4F1DE;
}

.header.open {
  flex-direction: column-reverse;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav {
  padding: .5rem;
  display: none;
  justify-content: space-between;
  align-items: center;
}

#active {
  background-color: rgba(0, 31, 63, 0.3);
  padding: .3rem;
  border-radius: 12px;
  color: #000;
  font-weight: bold;
}

#active:hover {
  color: #E05B37;
  background: none;
  padding: 0.3rem;
}

.nav.open {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  max-height: 200px;
  animation: descend 0.5s ease-out;
}

@keyframes descend {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}

nav a {
  font-family: "Open Sans", serif;
  color: #3D3D3D;
  font-weight: bold;
}

nav a:hover {
  color: #E05B37;
  font-weight: bold;
  cursor: pointer;
}

.logo {
  border-radius: 3px;
}

.logo.close {
  display: none;
}

.button-option {
  display: none;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
}

#menu::before {
  content: "☰";
  font-size: 48px;
  color: #E05B37;
  display: flex;
  justify-self: end;
  text-align: center;
}

#menu.open::before {
  content: "❌";
  font-size: 24px;
  justify-self: center;
}

/* ---------- Main ---------- */
.wayfinding-container, .main-content {
  max-width: 300px;
  margin: 0 auto;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image.webp") no-repeat center center/cover;
  padding: 5rem 0;
}

h1 {
  background: none;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  padding: 4rem 0;
}

.wayfinding {
  color: #E05B37;
  font-family: "Open Sans", serif;
  font-weight: 800;
  font-size: 3rem;
  padding: 1rem 0;
}

h2 {
  color: #4F8269;
  font-family: "Open Sans", serif;
  font-size: 1.5rem;
  padding: 1rem 0;
  font-weight: 800;
  text-align: center;
}

p, li {
  font-family: "Open Sans", serif;
  color: #3D3D3D;
  font-weight: bold;
}

ul {
  padding-left: 20px; 
}

.main-content {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.card-section h2 {
  padding: 0;
}

.card-section p, .recipe-info li {
  font-size: 1.2rem;
}

.recipe-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  border: 1px solid #E05B37;
  border-radius: 3px;
  padding: 1rem;
}

.recipe-details h3 {
  font-size: 1.2rem;
}

.recipe-details p {
  font-size: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.author {
  color: #E05B37;
}

.ingredients ul li {
  padding: .8rem .8rem .8rem 0;
}

.ingredients {
  padding: 1rem 0;
}

.directions h2 {
  padding: 1rem 0;
}

.directions p {
  padding: .8rem 0;
}

.step-number {
  color: #E05B37;
}

.card-section img {
  border-radius: 3px;
  max-width: 300px;
  height: auto;
}

.thank-you {
  text-align: center;
}

.title {
  color: #E05B37;
}

.timestamp {
  color: #4F8269;
  text-align: center;
}

/* ---------- Footer ---------- */
footer {
  text-align: center;
  font-family: "Open Sans", serif;
  color: #3D3D3D;
  font-weight: bold;
  border-top: 1px solid #000;
}

h3 {
  font-family: "Playfair Display", serif;
  color: #E05B37;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
  text-align: center;
}

.site-info {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.social-media {
  padding: 1rem 0;
}

.class-info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.info a {
  color: #3D3D3D;
}

.info a:hover {
  color: #E05B37;
}