* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* ---------- Header ---------- */
.header {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #000;
}

.header.open {
  flex-direction: column-reverse;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav {
  padding: .5rem;
  display: none;
  justify-content: space-between;
  align-items: center;
}

#active {
  background-color: rgba(0, 31, 63, 0.3);
  padding: .3rem;
  border-radius: 12px;
  color: #000;
  font-weight: bold;
}

#active:hover {
  color:rgb(68, 0, 255);
  background-color: #fff;
  padding: 0;
}

.nav.open {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  max-height: 200px;
  animation: descend 0.5s ease-out;
}

@keyframes descend {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}

nav a {
  font-family: "Merriweather Sans", sans-serif;
  color: #001F3F;
}

nav a:hover {
  color: rgb(68, 0, 255);
  font-weight: bold;
  cursor: pointer;
}

.image.close {
  display: none;
}

.button-option {
  display: none;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
}

#menu::before {
  content: "☰";
  color: black;
  display: flex;
  justify-self: end;
  text-align: center;
}

#menu.open::before {
  content: "❌";
  justify-self: center;
}

/* ---------- Main ---------- */
.hero-image {
  background: url("../images/picture.webp") no-repeat center center/cover;
  padding: 5rem 0;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  padding: 4rem 0;
}

.wayfinding {
  color: #001F3F;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
}

h2 {
  color: #001F3F;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
}

h3 {
  color: #001F3F;
  font-family: "Helvetica", sans-serif;
  padding: 1rem 0;
}

figcaption {
  color: #000;
  font-family: "Helvetica", sans-serif;
}

p {
  color: #333333;
  font-family: "Helvetica", sans-serif;
}

/* #places-of-interest div {
  border: 1px solid #000;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

.card {
  border: 1px solid #000;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  overflow: hidden;
  margin: 1rem;

  display: grid;
  grid-template-areas:
  "name"
  "photograph"
  /* "figcaption" */
  "description"
  "location"
  "button";
  gap: 1rem;
  justify-items: center;
}

.card h3 {
  grid-area: name;
}

.card img {
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-area: photograph;
} 

.card figcaption {
  /* grid-area: figcaption; */
  display: none;
}

.card .description {
  grid-area: description;
}

.card .location {
  grid-area: location;
}

.learn-more {
  background-color: #001F3F;
  color: #fff;
  border: 1px solid #333;
  border-radius: 12px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
  grid-area: button;
}

.learn-more:hover {
  background-color: #fff;
  color: #001F3F;
  cursor: pointer;
}

/* ---------- Footer ---------- */
footer {
  color: #001F3F;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #000;
}

footer h3 {
  font-family: "Merriweather Sans", sans-serif;
}

.class-info a, .class-info p, .class-info div {
  color: #001F3F;
  font-family: "helvetica", sans-serif;
}

.site-info {
  display: flex;
  justify-content: center;
}

.emojis {
  display: flex;
  flex-direction: column;
  padding: .3rem;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 8px 0;
}

.social-media {
  padding: 1rem 0;
}

.class-info {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}