@media screen and (min-width: 600px) { 
  .header {
    display: block;
  }
  .header-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  .nav {
    display: inline-flex;
    gap: 5rem;
    font-size: 1.2rem;
  }
  .nav.open {
    display: flex;
    flex-direction: row;
  }
  .image.close {
    display: block;
    align-self: center;
  }
  .header-container.open {
    display: flex;
  }
  .hero-image {
    padding: 20rem 0;
  }
  h1 {
    font-size: 3rem;
  }
  .card {
    grid-template-areas:
    "name name"
    "photograph description"
    "photograph location"
    "button button";
    gap: 1rem;
  }
  .card img:hover {
    box-shadow: 0 0 30px #000;
    animation: tilt 1s ease-in-out;
  }
  @keyframes tilt {
    0%, 100% { transform: rotate(0); }
    20%, 60% { transform: rotate(-5deg); }
    40%, 80% { transform: rotate(5deg); }
  }
  #menu {
    display: none;
  }
  .footer-container {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    align-items: center;
  }
  .footer-container h3 {
    grid-column: 1;
  }
  .site-info {
    grid-column: 1/2;
  }
  .social-media {
    grid-column: 2;
  }
}

@media screen and (min-width: 1024px) {
  #places-of-interest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
  }
  .card {
    min-height: 400px;
  }
}